/* Background pattern from Subtle Patterns */

.text-box {
	text-align:center;
}

.title-text {
	color: #FAD107;
	text-shadow: 0 0 7px #2B2B2B;

}

.content-text {
	margin-left: 20vw;
	margin-right: 20vw;
	padding: 4px;
	background-color: rgba(43,43,43, .5);
	color: #FAD107;
	border:2px solid;
	border-color: #FAD107;
	border-radius: 10px;
}

.recipe-title {
	color: #FAD107;
	text-shadow: 0 0 7px #2B2B2B;
}


.ing {
	color: #2B2B2B
}


/* sfooter stuff */
.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-image: url("../images/seamless_paper_texture.png");
	/*background-color: rgba(50,50,50,1);*/
}

.sfooter-content {
	flex: 1 0 auto;
}

html {
	display: flex;
}

body {
	width: 100%;
}
